{% extends 'timetracker/base.html' %}
{% block main %}
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Your time entries</h1>
        </div>
    </section>
    <div class="py-5 bg-light">
        <div class="container">
            <table class="table">
                <thead>
                <tr>
                    <th>User</th>
                    <th>ID</th>
                    <th>Date</th>
                    <th>Project</th>
                    <th>Duration in seconds</th>
                    <th>Comment</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for timeentry in timeentrys %}
                    <tr>
                        <td>{{ timeentry.user }}</td>
                        <td>{{ timeentry.id }}</td>
                        <td>{{ timeentry.project }}</td>
                        <td>{{ timeentry.date }}</td>
                        <td>{{ timeentry.duration }}</td>
                        <td>{{ timeentry.comment }}</td>
                        <td><a href="/remove/{{ timeentry.id }}"
                               onclick="if (!confirm('confirm remove ?')) return false">Supprimer</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
