{% extends 'timetracker/base.html' %}
{% block main %}
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Your time entries</h1>
        </div>
    </section>
    <div class="py-5 bg-light">
        <div class="container">
            <form method="get" action="/" class="form-inline">
                <div class="form-group">
                    <label for="select-project" class="mr-3">Projects</label>
                    <select class="form-control my-1 mr-sm-2" id="select-project" name="project_id">
                        <option value="">Select a project</option>
                        {% for project in projects %}
                            <option value="{{ project.id }}"
                                    {% if project.id == project_id %}selected{% endif %}>{{ project.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" class="btn btn-primary mb-2">Filter</button>
            </form>
            <table class="table">
                <thead>
                <tr>
                    <th>User</th>
                    <th>ID</th>
                    <th>Date</th>
                    <th>Project</th>
                    <th>Duration</th>
                    <th>Comment</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for timeentry in timeentrys %}
                    <tr>
                        <td>{{ timeentry.user }}</td>
                        <td>{{ timeentry.id }}</td>
                        <td>{{ timeentry.project }}</td>
                        <td>{{ timeentry.date }}</td>
                        <td>
                            <app-duration duration="{{ timeentry.duration }}"></app-duration>
                        </td>
                        <td>{{ timeentry.comment }}</td>
                        <td>
                            <a href="/edit/{{ timeentry.id }}">Edit</a> |
                            <a href="/remove/{{ timeentry.id }}"
                               onclick="if (!confirm('confirm remove ?')) return false">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="7">
                        Total time :
                        <app-duration duration="{{ total }}"></app-duration>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
{% endblock %}
