{% extends 'timetracker/base.html' %}
{% block main %}
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Log out</h1>
        </div>
    </section>
    <div class="py-5 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            Déconnecté ?
                            <a href="/">Revenir à l'accueil</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}